<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546222344007-51kppjb8422op8mc1v0rqkcrs1i54tsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546222344007-51kppjb8422op8mc1v0rqkcrs1i54tsi</string>
	<key>API_KEY</key>
	<string>AIzaSyC4VcF5gMYD_2PpDlZ8OQ8SotKvZYUO6U8</string>
	<key>GCM_SENDER_ID</key>
	<string>546222344007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team404.GoogleLoginOption</string>
	<key>PROJECT_ID</key>
	<string>loginoption-26a92</string>
	<key>STORAGE_BUCKET</key>
	<string>loginoption-26a92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546222344007:ios:a5b0612fbe6ed664e5ee62</string>
</dict>
</plist>